{{ $params := .Page.Params | merge .Site.Params.Page | merge (dict "author" .Site.Params.author.name) }}
<item>
    <title>
        {{ .Page.Title }}
    </title>
    <link>
        {{ .Page.Permalink }}
    </link>
    <pubDate>
        {{ .Page.Date.Format "Mon, 02 Jan 2006 15:04:05 0700"  }}
    </pubDate>
    <author>
        {{ $params.author | default (T "author") }}
    </author>
    <guid>
        {{ .Page.Permalink }}
    </guid>
    <description>
        {{ "<![CDATA[" | safeHTML }}
        {{ with $params.featuredimage }}
            <div class="featuredimage">
                <img src="{{ . | relURL }}" referrerpolicy="noreferrer">
            </div>
        {{ end }}
        {{ $rssdesc := .Page.Description }}
        
        {{ $rssdesc | replaceRE `<figure[^>]*>.*</figure>` "" | replaceRE `<img[^>]*( /)?>` "" | safeHTML }}
        {{ "]]>" | safeHTML }}
    </description>
</item>
