{{ define "main" }} {{ $taxonomies := .Data.Plural }} {{ $terms :=
.Data.Terms.ByCount }} {{ $type := .Type }}
<div class="container">
  {{/* Title */}}
  <h2>{{ .Title }}</h2>

  {{/* Categories Page */}} {{ if eq $taxonomies "categories" }}
  <div class="container">
    {{ range $terms }} {{ $term := .Term }} {{ $pages := .Pages }} {{ with
    $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) }}
    <div class="carditem">
      <div class="carditemwrapper">
        <h3 class="carditemtitle">
          <a href="{{ .RelPermalink }}">
            <i class="far fafolder fafw" ariahidden="true"></i>&nbsp;{{
            .Page.Title }}
          </a>
        </h3>
        {{ range first 5 $pages }}
        <article class="archiveitem">
          <a href="{{ .RelPermalink }}" class="archiveitemlink">
            {{ .Title }}
          </a>
        </article>
        {{ end }} {{ if gt (len $pages) 5 }}
        <span class="morepost">
          <a href="{{ .RelPermalink }}" class="moresinglelink"
            >{{ T "more" }} >></a
          >
        </span>
        {{ end }}
      </div>
    </div>
    {{ end }} {{ end }}
  </div>

  {{/* Tag Cloud Page */}} {{ else if eq $taxonomies "tags" }}
  {{ $tags := $.Site.Taxonomies.tags.ByCount }}
  {{ if gt (len $tags) 0 }}
  {{ $maxCount := (index $tags 0).Count }}
  {{ $minCount := (index $tags (sub (len $tags) 1)).Count }}
  {{ $minFont := 0.9 }}
  {{ $maxFont := 2.0 }}
  <div class="container">
    {{ range $tags }}
    {{ $count := .Count }}
    {{ $scale := 0.5 }}
    {{ if ne $maxCount $minCount }}
    {{ $scale = div (sub (float $count) (float $minCount)) (sub (float $maxCount) (float $minCount)) }}
    {{ end }}
    {{ $size := add $minFont (mul $scale (sub $maxFont $minFont)) }}
    <a href="{{ .Page.RelPermalink }}" style="font-size: {{ printf "%.2f" $size }}rem;"
      >{{ .Page.Title }} <sup>{{ .Count }}</sup></a
    >
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
